:root {
  --primary-color: #302AE6;
  --secondary-color: #536390;
  --typography-color: rgba(0, 0, 0, 0.87);
  --bg-color: #fff;
}

[data-theme="dark"] {
  --primary-color: #9A97F3;
  --secondary-color: #818cab;
  --typography-color: #fff;
  --bg-color: #121212;
}

html {
  font-family: 'Roboto', sans-serif;
  color: var(--typography-color);
  background-color: var(--bg-color);
  transition: background-color 150ms linear;
}

input[type="text"] {
  color: var(--typography-color);
  background-color: var(--bg-color);
}
