:root {
  --primary-color: #302AE6;
  --secondary-color: #536390;
  --typography-color: rgba(0, 0, 0, 0.87);
  --bg-color: #fff;
  --border-color: #000;

  // Button
  --button-active: rgba(0, 0, 0, 0.54);
  --button-disabled: rgba(0, 0, 0, 0.26);
  --button-hover: rgba(0, 0, 0, 0.04);
  --button-selected: rgba(0, 0, 0, 0.08);
  --button-background: rgb(239, 239, 239);
}

[data-theme="dark"] {
  --primary-color: #9A97F3;
  --secondary-color: #818cab;
  --typography-color: #fff;
  --bg-color: #121212;
  --border-color: #3C424A;

  // Button
  --button-active: #fff;
  --button-disabled: rgba(255, 255, 255, 0.3);
  --button-hover: rgba(255, 255, 255, 0.08);
  --button-selected: rgba(255, 255, 255, 0.16);
  --button-background: rgb(118, 118, 118);
}

html {
  font-family: 'Roboto', sans-serif;
  color: var(--typography-color);
  background-color: var(--bg-color);
  transition: background-color 150ms linear;
}

input[type="text"] {
  color: var(--typography-color);
  background-color: var(--bg-color);
}

button {
  background-color: var(--button-background);
  cursor: pointer;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
  border-radius: .25rem;
  border-width: 1px;
}
