.root {
    display: flex;
    align-items: center;
    flex: 1;
    padding: .25rem .5rem;
}

.completed {
    text-decoration-line: line-through;
}

.checkbox {}

.content {
    font-weight: 500;
    width: 100%;
    margin: 0 .25rem;
    padding: 0 .25rem;

    input {
        width: 100%;
    }
}

.title {
    &:focus {
        text-decoration: underline;
    }
}

.closeButton {}
